@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

.home{
  background: url("/src/assets/bg-home.jpg") no-repeat center/cover;
  min-height: 100vh;
}

.bg-hindi{
  background: url("/src/assets/bg_cult.png") no-repeat center/cover;
  min-height: 100vh;
}

.bg-english{
  
  background: url("/src/assets/bg-hello.jpg") no-repeat center/cover;
  min-height: 100vh;
  
  
}

.bg-chinese{
  background: url("/src/assets/chinese_new_year.jpg") no-repeat center/cover;
  min-height: 100vh;

}


