@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

.home{
  background: url("/src/assets/bg-home.jpg") no-repeat center/cover;
  min-height: 100vh;
}

.bg-hindi{
  background: url("/src/assets/bg_cult.png") no-repeat center/cover;
  min-height: 100vh;
}

.bg-english{
  
  background: url("/src/assets/bg1.jpg") no-repeat center/cover;
  min-height: 100vh;
  opacity: 70%;
  
}

.bg-chinese{
  background: url("/src/assets/chinese_new_year.jpg") no-repeat center/cover;
  min-height: 100vh;
  opacity: 80%;
}


